<%= form_for([@members_listing.main, @members_listing], url: members_main_listing_path, method: :patch) do |f| %>

	<div class="form-group">
		<label><%= f.label :mlcontactname, "Company Contact" %></label>
		<%= f.text_form-group :mlcontactname, class: 'form-control', placeholder: 'Contact Name for Company' %>
	</div>
	<div class="form-group">
		<label><%= f.label :mlcompanyname, "Company/Organization's Name*" %></label>
		<%= f.text_form-group :mlcompanyname, class: 'form-control', placeholder: 'Name of Business or Organization' %>
	</div>
	<div class="form-group">
		<label><%= f.label :mladdressl1, "Address Line1*" %></label>
		<%= f.text_form-group :mladdressl1, class: 'form-control', placeholder: 'Main Street Address' %>
	</div>
	<div class="form-group">
		<label><%= f.label :mladdressl2, "Address Line2" %></label>
		<%= f.text_form-group :mladdressl2, class: 'form-control', placeholder: 'Adress Info Like Box or POBox Number' %>
	</div>
	<div class="form-group">
		<label><%= f.label :mlcity, "City" %></label>
		<%= f.text_form-group :mlcity, class: 'form-control', placeholder: 'City' %>
	</div>
	<div class="form-group">
		<label><%= f.label :mlprovince, "Province or State" %></label>
		<%= f.text_form-group :mlprovince, class: 'form-control', placeholder: 'Province or State' %>
	</div>
	<div class="form-group">
		<label><%= f.label :mlcountry, "Country" %></label>
		<%= f.text_form-group :mlcountry, class: 'form-control', placeholder: 'Country' %>
	</div>
	<div class="form-group">
		<label><%= f.label :mlpostalcode, "PostalCode" %></label>
		<%= f.text_form-group :mlpostalcode, class: 'form-control', placeholder: 'PostalCode' %>
	</div>
	<div class="form-group">
		<label><%= f.label :mlphone, "Listing Phone Number" %></label>
		<%= f.text_form-group :mlphone, class: 'form-control', placeholder: 'General Company Number' %>
	</div>
	<div class="form-group">
		<label><%= f.label :mlwebsite, "Company Website" %></label>
		<%= f.text_form-group :mlwebsite, class: 'form-control', placeholder: 'Company Website' %>
	</div>
	<div class="form-group">
		<label><%= f.label :mlemail, "Listing Email" %></label>
		<%= f.text_form-group :mlemail, class: 'form-control', placeholder: 'Company General Email' %>
	</div>
	<div class="actions">
		<%= f.submit, class: "btn btn-primary" %>
	</div>

<% end %>
