<!-- Bread Crumbs -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Public Listing Information - <%= @members_main.mcfirstname + ' ' + @members_main.mclastname %></h2>
		<ol class="breadcrumb">
			<li>
				<%= link_to mtdevise.account_root_path, class: "nav-link" do %>
					Home
				<% end %>
			</li>
			<li>
				<%= link_to main_app.members_mains_path, class: "nav-link" do %>
					Member's List
				<% end %>
			</li>
			<li>
				<%= link_to main_app.members_main_listings_path, class: "nav-link" do %>
					Listings for <%= @members_main.mcfirstname + ' ' + @members_main.mclastname %>
				<% end %>
			</li>
			<li class="active">
				<a>Edit <%= @members_main.mcfirstname %> Directory Listing Information</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">
	</div>
</div>

<!-- Main Content -->
<div class="wrapper wrapper-content">
	<div class="panel">
		<div class="panel-heading">
			<h2><i class="fa fa-lightbulb-o"></i> Update Member's Listing</h2> <p>- Update <%= @members_main.mcfirstname + ' ' + @members_main.mclastname %> member listing for <%= @members_main.mlcompanyname %>.</p>
		</div>
		<div class="panel-body">
			<%= render 'formpatch' %>
		</div>
	</div>
</div>
