<!-- Bread Crumbs -->
<div class="row">
	<div class="col-lg-12">
		<h2>Member's Information</h2>
		<ol class="breadcrumb">
			<li><%= link_to "Home", members_root_path %></li>
			<li><%= link_to "Members List", members_mains_path %></li>
			<li><%= link_to "Members Listings", members_main_contacts_path %></li>
		</ol>
	</div>
</div>

<!-- Main Information -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Member's Listing Index
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Contact Name</th>
							<th>Company Name</th>
							<th>City</th>
							<th>Country</th>
							<th>Phone Number</th>
							<th>Email</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @members_listings.each do |members_listing| %>
							<tr>
								<td><%= members_listing.mlcontactname %></td>
								<td><%= members_listing.mlcompanyname %></td>
								<td><%= members_listing.mlcity %></td>
								<td><%= members_listing.mlcountry %></td>
								<td><%= members_listing.mlphone %></td>
								<td><%= members_listing.mlemail %></td>
								<td>
									<div class="btn-group" role="group" aria-label="Member Listings Group">
										<%= link_to 'Details', members_main_listing_path(listing.main, listing), class: "btn btn-primary" %>
										<%= link_to 'Edit', edit_members_main_listing_path(listing.main, listing), class: "btn btn-primary" %>
										<%= link_to 'Delete', members_main_listing_path(listing.main, listing), method: :delete, data: { confirm: 'Are you sure? This will also remove this listing from the online directories.' }, class: "btn btn-danger" %>
									</div>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%= link_to 'New Member Listing', new_members_main_listing_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>
