<p id="notice"><%= notice %></p>

<p>
  <strong>Mlcontactname:</strong>
  <%= @members_listing.mlcontactname %>
</p>

<p>
  <strong>Mlcompanyname:</strong>
  <%= @members_listing.mlcompanyname %>
</p>

<p>
  <strong>Mladdressl1:</strong>
  <%= @members_listing.mladdressl1 %>
</p>

<p>
  <strong>Mladdressl2:</strong>
  <%= @members_listing.mladdressl2 %>
</p>

<p>
  <strong>Mlcity:</strong>
  <%= @members_listing.mlcity %>
</p>

<p>
  <strong>Mlprovince:</strong>
  <%= @members_listing.mlprovince %>
</p>

<p>
  <strong>Mlcountry:</strong>
  <%= @members_listing.mlcountry %>
</p>

<p>
  <strong>Mlpostalcode:</strong>
  <%= @members_listing.mlpostalcode %>
</p>

<p>
  <strong>Mlphone:</strong>
  <%= @members_listing.mlphone %>
</p>

<p>
  <strong>Mlwebsite:</strong>
  <%= @members_listing.mlwebsite %>
</p>

<p>
  <strong>Mlemail:</strong>
  <%= @members_listing.mlemail %>
</p>

<p>
  <strong>Main:</strong>
  <%= @members_listing.main %>
</p>

<p>
  <strong>Account:</strong>
  <%= @members_listing.account_id %>
</p>
