<!-- PHCMembers Form - Web Directory Listings -->
<%= form_for([@member_listing.profile, @member_listing], url: form_url) do |phc_members_member_listing| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/validations', :object => @member_listing %>
	<!-- PHCNotifi Render Validation -->

	<!-- PHCMembers Fields - Web Directory Listings -->
	<div class="form-group field_with_errors">
		<%= phc_members_member_listing.label :mbcompanyname, "Company Name" %>
		<%= phc_members_member_listing.text_field :mbcompanyname, class: "form-control", placeholder: "Business/Organization: Name" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_listing.label :mbcontactname, "Contact Name" %>
		<%= phc_members_member_listing.text_field :mbcontactname, class: "form-control", placeholder: "Business/Organization: Contact Person" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_listing.label :mbaddressl1, "Address Line 1" %>
		<%= phc_members_member_listing.text_field :mbaddressl1, class: "form-control", placeholder: "Location: Street Address" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_listing.label :mbaddressl2, "Address Line 2" %>
		<%= phc_members_member_listing.text_field :mbaddressl2, class: "form-control", placeholder: "Location: Box - Suite - Floor" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_listing.label :mbcity, "City" %>
		<%= phc_members_member_listing.text_field :mbcity, class: "form-control", placeholder: "Location: City" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_listing.label :mbprovince, "Province/State" %>
		<%= phc_members_member_listing.text_field :mbprovince, class: "form-control", placeholder: "Location: Province/State" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_listing.label :mbcountry, "Country" %>
		<%= phc_members_member_listing.text_field :mbcountry, class: "form-control", placeholder: "Country" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_listing.label :mbpostalcode, "Postal Code" %><br>
		<%= phc_members_member_listing.text_field :mbpostalcode, class: "form-control", placeholder: "Location: PostalCode" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_listing.label :mbphone, "Business Phone Number" %>
		<%= phc_members_member_listing.text_field :mbphone, class: "form-control", placeholder: "Business/Organization: PhoneNumber (Public)" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_listing.label :mbcontactemail, "Business General Email" %>
		<%= phc_members_member_listing.text_field :mbcontactemail, class: "form-control", placeholder: "Business/Organization: Email Address (Public)" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_listing.label :mbwebsite, "Business Website" %>
		<%= phc_members_member_listing.text_field :mbwebsite, class: "form-control", placeholder: "Business/Organization: Website (Public)" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_listing.collection_check_boxes :category_ids, Phcmembers::Directory::Category.all, :id, :catname do |listing_category| %>
			<%= listing_category.check_box %>
			<%= listing_category.label %></br>
		<% end %>
	</div>
	<br>
	<div class="actions">
		<%= phc_members_member_listing.submit class: "btn btn-primary btn-gradient waves-effect waves-light btn-md" %>
	</div>
	<br>
	<!-- PHCMembers Fields - Web Directory Listings -->

<% end %>
<!-- PHCMembers Form - Web Directory Listings -->
