<!-- Title Variables -->
<% phc_title "PHCMembers - Member Listings Manager" %>
<% phc_title_tagline "Detailed Listing Information for " + @members_profile_info.mfirstname + " " + @members_profile_info.mlastname %>

<!-- Page Header -->
<div class="row">
	<div class="col-lg-12">

		<!-- Bread Crumbs -->
		<ol class="breadcrumb">
			<li><%= link_to "Dashboard", member_root_path %></li>
			<li><%= link_to "Member Profile List", member_profiles_path %></li>
			<li><%= link_to @members_profile_info.mfirstname + " " + @members_profile_info.mlastname + " Listing Index", member_profile_listings_path %></li>
			<li class="active"><%= yield(:phc_title_tagline) %></li>
		</ol>

		<!-- Page Title -->
		<h3 class="page-title">
			<%= yield(:phc_title) %> </br>
			<small><%= yield(:phc_title_tagline) %></small>
		</h3>

	</div>
</div>

<!-- Main Content -->
<div class="row">
	<%= render 'phcmembers/member/listings/components/listing_main' %>
</div>
