<p>
    <strong>Address Line 1:</strong>
    <%= @member_address.mcaddressl1 %>
</p>

<p>
    <strong>Address Line 2:</strong>
    <%= @member_address.mcaddressl2 %>
</p>

<p>
    <strong>City:</strong>
    <%= @member_address.mccity %>
</p>

<p>
    <strong>Province:</strong>
    <%= @member_address.mcprovince %>
</p>

<p>
    <strong>Country:</strong>
    <%= @member_address.mccountry %>
</p>

<p>
    <strong>PostalCode:</strong>
    <%= @member_address.mcpostalcode %>
</p>
