<!-- Bread Crumbs -->
<div class="row">
	<div class="col-lg-12">
		<h2>Member's Listing Information</h2>
		<ol class="breadcrumb">
			<li><%= link_to "Home", members_root_path %></li>
			<li><%= link_to "Members List", members_mains_path %></li>
			<li><%= link_to "Members Listings", members_main_listings_path %></li>
			<li class="active">Edit Listing for Member</li>
		</ol>
	</div>
</div>

<!-- Main Content -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Edit Listing for Member
			</div>
			<div class="panel-body">
				<%= render 'phcnotifi/notifications' %>
				<%= render 'formpatch' %>
			</div>
		</div>
	</div>
</div>
