<p id="notice"><%= notice %></p>

<p>
  <strong>Mccontactname:</strong>
  <%= @members_contact.mccontactname %>
</p>

<p>
  <strong>Mccompanyname:</strong>
  <%= @members_contact.mccompanyname %>
</p>

<p>
  <strong>Mcaddressl1:</strong>
  <%= @members_contact.mcaddressl1 %>
</p>

<p>
  <strong>Mcaddressl2:</strong>
  <%= @members_contact.mcaddressl2 %>
</p>

<p>
  <strong>Mccity:</strong>
  <%= @members_contact.mccity %>
</p>

<p>
  <strong>Mlprovince:</strong>
  <%= @members_contact.mcprovince %>
</p>

<p>
  <strong>Mccountry:</strong>
  <%= @members_contact.mccountry %>
</p>

<p>
  <strong>Mcpostalcode:</strong>
  <%= @members_contact.mcpostalcode %>
</p>

<p>
  <strong>Mcphone:</strong>
  <%= @members_contact.mcphone %>
</p>

<p>
  <strong>Mlemail:</strong>
  <%= @members_contact.mcemail %>
</p>

<p>
  <strong>Main:</strong>
  <%= @members_contact.main %>
</p>

<p>
  <strong>Account:</strong>
  <%= @members_contact.account_id %>
</p>
