<p id="notice"><%= notice %></p>

<p>
  <strong>Mfirstname:</strong>
  <%= @members_main.mfirstname %>
</p>

<p>
  <strong>Mlastname:</strong>
  <%= @members_main.mlastname %>
</p>

<p>
  <strong>Mtitle:</strong>
  <%= @members_main.mtitle %>
</p>

<p>
  <strong>Memail:</strong>
  <%= @members_main.memail %>
</p>

<p>
  <strong>Mphone:</strong>
  <%= @members_main.mphone %>
</p>

<p>
  <strong>Mnotes:</strong>
  <%= @members_main.mnotes %>
</p>

<p>
  <strong>Account:</strong>
  <%= @members_main.account_id %>
</p>

<%= link_to 'Edit', edit_members_main_path(@members_main) %> |
<%= link_to 'Back', members_mains_path %>
