<p id="notice"><%= notice %></p>

<h1>Directory Listings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directory_listings.each do |directory_listing| %>
      <tr>
        <td><%= link_to 'Show', directory_listing %></td>
        <td><%= link_to 'Edit', edit_directory_listing_path(directory_listing) %></td>
        <td><%= link_to 'Destroy', directory_listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Directory Listing', new_directory_listing_path %>
