<p>
	<strong>Contact Name:</strong>
	<%= @member_listings.mbcompanyname %>
</p>
<p>
	<strong>Company Name:</strong>
	<%= @member_listings.mbcontactname %>
</p>

<p>
	<strong>Address Line 1:</strong>
	<%= @member_listings.mbaddressl1 %>
</p>

<p>
	<strong>Address Line 2:</strong>
	<%= @member_listings.mbaddressl2 %>
</p>

<p>
	<strong>City:</strong>
	<%= @member_listings.mbcity %>
</p>

<p>
	<strong>Province:</strong>
	<%= @member_listings.mbprovince %>
</p>

<p>
	<strong>Country:</strong>
	<%= @member_listings.mbcountry %>
</p>

<p>
	<strong>Postal Code:</strong>
	<%= @member_listings.mbpostalcode %>
</p>

<p>
	<strong>Phone:</strong>
	<%= @member_listings.mbphone %>
</p>

<p>
	<strong>Email:</strong>
	<%= @member_listings.mbcontactemail %>
</p>