<p>
	<strong>Contact Name:</strong>
	<%= @member_listing.mbcompanyname %>
</p>
<p>
	<strong>Company Name:</strong>
	<%= @member_listing.mbcontactname %>
</p>

<p>
	<strong>Address Line 1:</strong>
	<%= @member_listing.mbaddressl1 %>
</p>

<p>
	<strong>Address Line 2:</strong>
	<%= @member_listing.mbaddressl2 %>
</p>

<p>
	<strong>City:</strong>
	<%= @member_listing.mbcity %>
</p>

<p>
	<strong>Province:</strong>
	<%= @member_listing.mbprovince %>
</p>

<p>
	<strong>Country:</strong>
	<%= @member_listing.mbcountry %>
</p>

<p>
	<strong>Postal Code:</strong>
	<%= @member_listing.mbpostalcode %>
</p>

<p>
	<strong>Phone:</strong>
	<%= @member_listing.mbphone %>
</p>

<p>
	<strong>Email:</strong>
	<%= @member_listing.mbcontactemail %>
</p>

<%= link_to 'Update ' + @members_profile_info.mfirstname + ' ' + @members_profile_info.mlastname + ' Listing', edit_member_profile_listing_path, class: "btn btn-primary" %>
<%= link_to 'Delete ' + @members_profile_info.mfirstname + ' ' + @members_profile_info.mlastname + ' Listing', member_profile_listing_path(@member_listing), method: :delete, data: { confirm: 'Are you sure? This will remove the listing from all directory categories. This action cannot be undone.' }, class: "btn btn-danger" %>
