<p>
	<strong>Contact Name:</strong>
	<%= @member_listing.mbcompanyname %>
</p>
<p>
	<strong>Company Name:</strong>
	<%= @member_listing.mbcontactname %>
</p>

<p>
	<strong>Address Line 1:</strong>
	<%= @member_listing.mbaddressl1 %>
</p>

<p>
	<strong>Address Line 2:</strong>
	<%= @member_listing.mbaddressl2 %>
</p>

<p>
	<strong>City:</strong>
	<%= @member_listing.mbcity %>
</p>

<p>
	<strong>Province:</strong>
	<%= @member_listing.mbprovince %>
</p>

<p>
	<strong>Country:</strong>
	<%= @member_listing.mbcountry %>
</p>

<p>
	<strong>Postal Code:</strong>
	<%= @member_listing.mbpostalcode %>
</p>

<p>
	<strong>Phone:</strong>
	<%= @member_listing.mbphone %>
</p>

<p>
	<strong>Email:</strong>
	<%= @member_listing.mbcontactemail %>
</p>
