<p>
	<strong>Contact Name:</strong>
	<%= @members_businesses.mbcompanyname %>
</p>
<p>
	<strong>Company Name:</strong>
	<%= @members_businesses.mbcontactname %>
</p>

<p>
	<strong>Address Line 1:</strong>
	<%= @members_businesses.mbaddressl1 %>
</p>

<p>
	<strong>Address Line 2:</strong>
	<%= @members_businesses.mbaddressl2 %>
</p>

<p>
	<strong>City:</strong>
	<%= @members_businesses.mbcity %>
</p>

<p>
	<strong>Province:</strong>
	<%= @members_businesses.mbprovince %>
</p>

<p>
	<strong>Country:</strong>
	<%= @members_businesses.mbcountry %>
</p>

<p>
	<strong>Postal Code:</strong>
	<%= @members_businesses.mbpostalcode %>
</p>

<p>
	<strong>Phone:</strong>
	<%= @members_businesses.mbphone %>
</p>

<p>
	<strong>Email:</strong>
	<%= @members_businesses.mbcontactemail %>
</p>
