<!DOCTYPE html>
<html>

	<head>

		<title>PHCMembers - Members Manager</title>

		<%= stylesheet_link_tag    "phcmembers/application", media: "all" %>
		<%= javascript_include_tag "phcmembers/application" %>
		<%= csrf_meta_tags %>

	</head>

	<body class="hold-transition skin-blue sidebar-mini">

		<div class="wrapper">
			<div class="main_container">

				<header class="main-header">

					<a href="index2.html" class="logo">
						<span class="logo-mini">PHC</span>
						<span class="logo-lg"><b>PHC</b>Members</span>
					</a>

					<nav class="navbar navbar-static-top">
					</nav>

				</header>

				<aside class="main-sidebar">
					<section class="sidebar">
					</section>
				</aside>
				
				<div class="content-wrapper">
					<%= yield %>
				</div>
			
			</div>
		</div>

		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 4.2.7 
			</div>
			<strong>&copy; 2012-<%= Time.now.year %> - OCT-27-<%= Date.today.year %> <%= link_to "https://phcnetworks.net", target: "_blank", rel: "nofollow" do %>PHCNetworks<% end %></strong>
		</footer>

	</body>
</html>
