<!DOCTYPE html>
<html>
	<head>
		<title>Phcmembers</title>
			<%= stylesheet_link_tag    "phcmembers/application", media: "all" %>
			<%= javascript_include_tag "phcmembers/application" %>
			<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/phcmembers/elements/alerts/notifications' %>
		<%= yield %>
	</body>
</html>
