<%= form_for(@directory_category) do |f| %>

	<% if @directory_category.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@directory_category.errors.count, "error") %> prohibited this directorylisting from being saved:</h2>
			<ul>
				<% @directory_category.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<label><%= f.label :catname, "Category Name" %></label>
		<%= f.text_field :catname, class: "form-control", placeholder: "Directory Category" %>
	</div>
	<div class="actions">
		<%= f.submit "Submit", class: "btn btn-primary" %>
	</div>

<% end %>
