<%= form_for(directory_category) do |f| %>
  <% if directory_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(directory_category.errors.count, "error") %> prohibited this directory_category from being saved:</h2>

      <ul>
      <% directory_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :catname %>
    <%= f.text_field :catname %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
