<!-- PHCMembers Form - Directory Categories -->
<%= form_with(model: @directory_category, local: true) do |form| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/validations', :object => @directory_category %>
	<!-- PHCNotifi Render Validation -->

	<!-- PHCMembers Field - Directory Categories -->
	<div class="form-group field_with_errors">
		<%= form.label :category_name, "Category Name" %>
		<%= form.text_field :category_name, class: "form-control", placeholder: "Directory Category" %>
	</div>
	<br>
	<div class="actions">
		<%= form.submit class: "btn btn-primary btn-gradient waves-effect waves-light btn-md" %>
	</div>
	<br>
	<!-- PHCMembers Field - Directory Categories -->

<% end %>
<!-- PHCMembers Form - Directory Categories -->
