<p id="notice"><%= notice %></p>

<h1>Directory Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directory_categories.each do |directory_category| %>
      <tr>
        <td><%= link_to 'Show', directory_category %></td>
        <td><%= link_to 'Edit', edit_directory_category_path(directory_category) %></td>
        <td><%= link_to 'Destroy', directory_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Directory Category', new_directory_category_path %>
