<!-- Title Variables -->
<% phc_title "Member Listings Viewer" %>
<% phc_title_tagline "Complete Listing Index" %>
<% phc_breadcrumb_one link_to "Dashboard", phcmembers.modules_dashboards_index_path %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Title Bar -->
<section class="content-header">
	<!-- Page Title and BreadCrumb -->
	<h1><%= yield(:phc_title) %> <small><%= yield(:phc_title_tagline) %></small></h1>
	<ol class="breadcrumb">
		<li><%= yield(:phc_breadcrumb_one) %></li>
		<li class="active"><%= yield(:phc_breadcrumb_two) %></li>
	</ol>
	<!-- Page Title and BreadCrumb -->
</section>
<!-- Page Title Bar -->

<!-- Main Content -->
<section class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title"><%= yield(:phc_title) %></h3>
				</div>
				<div class="box-body">

					<!-- Index Table -->
					<div class="table-responsive">
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>Category</th>
									<th>Company Name</th>
								</tr>
							</thead>
							<tbody>
								<% @directory_categorylistings.each do |directory_categorylisting| %>
									<tr>
										<td><%= directory_categorylisting.category.catname %></td>
										<td><%= directory_categorylisting.listing.mbcompanyname %></td>
									</tr>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<!-- Index Table -->

				<!-- Panel Footer -->
				<div class="box-footer clearfix">
				</div>
				<!-- Panel Footer -->

			</div>
		</div>
	</div>
</div>
</section>
<!-- Main Content -->
