<!DOCTYPE html>
<html>
	<head>
		<title>PHCMembers - Members Manager</title>
			<%= stylesheet_link_tag    "phcmember/application", media: "all" %>
			<%= javascript_include_tag "phcmember/application" %>
			<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/phcmember/elements/alerts/notifications' %>
			<%= yield %>
		</div>
	</body>
</html>
