<p>
	<strong>Contact Name:</strong>
	<%= @directory_listing.business.mbcompanyname %>
</p>
<p>
	<strong>Company Name:</strong>
	<%= @directory_listing.business.mbcontactname %>
</p>

<p>
	<strong>Address Line 1:</strong>
	<%= @directory_listing.business.mbaddressl1 %>
</p>

<p>
	<strong>Address Line 2:</strong>
	<%= @directory_listing.business.mbaddressl2 %>
</p>

<p>
	<strong>City:</strong>
	<%= @directory_listing.business.mbcity %>
</p>

<p>
	<strong>Province:</strong>
	<%= @directory_listing.business.mbprovince %>
</p>

<p>
	<strong>Country:</strong>
	<%= @directory_listing.business.mbcountry %>
</p>

<p>
	<strong>PostalCode:</strong>
	<%= @directory_listing.business.mbpostalcode %>
</p>

<p>
	<strong>Phone:</strong>
	<%= @directory_listing.business.mbphone %>
</p>

<p>
	<strong>Email:</strong>
	<%= @directory_listing.business.mbcontactemail %>
</p>
