<%= form_for(connections_memberlisting) do |f| %>
  <% if connections_memberlisting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(connections_memberlisting.errors.count, "error") %> prohibited this connections_memberlisting from being saved:</h2>

      <ul>
      <% connections_memberlisting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :profile_id %>
    <%= f.text_field :profile_id %>
  </div>

  <div class="field">
    <%= f.label :listing_id %>
    <%= f.text_field :listing_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
