<p id="notice"><%= notice %></p>

<h1>Connections Memberlistings</h1>

<table>
  <thead>
    <tr>
      <th>Profile</th>
      <th>Listing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @connections_memberlistings.each do |connections_memberlisting| %>
      <tr>
        <td><%= connections_memberlisting.profile %></td>
        <td><%= connections_memberlisting.listing %></td>
        <td><%= link_to 'Show', connections_memberlisting %></td>
        <td><%= link_to 'Edit', edit_connections_memberlisting_path(connections_memberlisting) %></td>
        <td><%= link_to 'Destroy', connections_memberlisting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Connections Memberlisting', new_connections_memberlisting_path %>
