<!DOCTYPE html>
<html>
	<head>
		<!-- Title -->
		<title>PHCMembers Members SSO - Directory Module</title>

		<!-- Font -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"/>

		<!-- Requried Style Sheets -->
		<%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': 'reload' %>

		<!-- Requried JavaScripts -->
		<%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>

		<!-- Security -->
		<%= csrf_meta_tags %>

	</head>
	<body>
		<div class="container">

			<%= render 'phcnotifi/notifications' %>
			<%= yield %>

		</div>
	</body>
</html>
