<%= form_for(@directory_catlist) do |f| %>

	<div class="form-group">
		<label><%= f.label :listing_id, "Select a Listing" %></label>
		<%= f.text_field :listing_id, class: "form-control", placeholder: "Directory Listing" %>
	</div>

	<div class="form-group">
		<label><%= f.label :cateegory_id "Select a Category" %></label>
		<%= f.text_field :cateegory_id, class: "form-control", placeholder: "Directory Category" %>
	</div>

	<div class="actions">
		<%= f.submit "Submit", class: "btn btn-primary" %>
	</div>

<% end %>
