<p id="notice"><%= notice %></p>

<h1>Members Mains</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members_mains.each do |members_main| %>
      <tr>
        <td><%= link_to 'Show', members_main %></td>
        <td><%= link_to 'Edit', edit_members_main_path(members_main) %></td>
        <td><%= link_to 'Destroy', members_main, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Members Main', new_members_main_path %>
