<!-- Bread Crumbs -->
<header id="page-header">
	<h1><%= @members_main.mfirstname %> Detailed Profile</h1>
	<ol class="breadcrumb">
		<li><%= link_to "Home", members_root_path %></li>
		<li class="active"><%= link_to "Members List", members_mains_path %></li>
	</ol>
</header>

<div class="container">
	<div class="row">
		<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
			<p><strong>Member Creation Date:</strong> <%= @members_main.created_at %></p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"><%= @members_main.mfirstname %> <%= @members_main.mlastname %></h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>

							<div class=" col-md-9 col-lg-9 "> 
								<table class="table table-user-information">
									<tbody>
										<tr>
											<tr>
												<td>Job/Contact Title:</td>
												<td><%= @members_main.mtitle %></td>
											</tr>
											<tr>
												<td>Home Address</td>
												<td><%= @members_main.contacts.first.mccity %> - <%= @members_main.contacts.first.mcprovince %></td>
											</tr>
											<tr>
												<td>Email</td>
												<td><%= mail_to @members_main.memail %></td>
											</tr>
											<tr>
												<td>Phone Number</td>
												<td><%= @members_main.mphone %></td>
											</tr>
										</tr>
									</tbody>
								</table>
								<%= link_to 'Private Address', members_main_contacts_path(members_main), class: "btn btn-primary" %>
								<%= link_to 'Public Listings', members_main_listings_path(members_main), class: "btn btn-primary" %>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
