<!-- Bread Crumbs -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Member's Information</h2>
		<ol class="breadcrumb">
			<li><%= link_to "Home", members_root_path %></li>
			<li class="active"><%= link_to "Members List", members_mains_path %></li>
		</ol>
	</div>
</div>

<!-- Main Contents -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Member's Index
			</div>
			<div class="panel-body">
				<%= render 'phcnotifi/notifications' %>
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th colspan="2"></th>
						</tr>
					</thead>
					<tbody>
						<% @members_mains.each do |members_main| %>
							<tr>
								<td><%= members_main.mfirstname %></td>
								<td><%= members_main.mlastname %></td>
								<td><%= members_main.memail %></td>
								<td><%= members_main.mphone %></td>
								<td>
									<div class="btn-group" role="group" aria-label="Member Main Group">
										<%= link_to 'Profile', members_main, class: "btn btn-primary" %>
										<%= link_to 'Edit', edit_members_main_path(members_main), class: "btn btn-primary" %>
										<%= link_to 'Delete', members_main, method: :delete, data: { confirm: 'Are you sure? Removing a member will delete all records including all listing information from the directory.' }, class: "btn btn-danger" %>
									</div>
								</td>
								<td>
									<div class="btn-group" role="group" aria-label="Member Main Listings Address Group">
										<%= link_to 'Private Address', members_main_contacts_path(members_main), class: "btn btn-warning" %>
										<%= link_to 'Public Listings', members_main_listings_path(members_main), class: "btn btn-primary" %>
									</div>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%= link_to 'Add a New Member', new_members_main_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>
