<!-- Title System -->
<% phc_title "PHCMembers - Members Manager" %>
<% phc_title_tagline @members_main.mfirstname + " Detailed Profile" %>

<!-- BreadCrumbs -->
<div class="page-bar">

		<!-- Bread Crumb -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", members_root_path %></li>
			<li><%= link_to "Members List", members_mains_path %></li>
			<li class="active"><%= yield(:phc_title_tagline) %></li>
		</ol>

</div>

<!-- Page Title -->
<h3 class="page-title">
	<%= yield(:phc_title) %> </br>
	<small><%= yield(:phc_title_tagline) %></small>
</h3>

<!-- Main Content -->
<div class="row">
	<div class="col-md-4">
		<%= render 'phcmembers/members/mains/components/profile_sidebar' %>
	</div>
	<div class="col-md-8">
		<div class="profile-content">
			<%= render 'phcmembers/members/mains/components/profile_main' %>
		</div>
	</div>
</div>
