<%= form_for(member_profile) do |f| %>
  <% if member_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member_profile.errors.count, "error") %> prohibited this member_profile from being saved:</h2>

      <ul>
      <% member_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mfirstname %>
    <%= f.text_field :mfirstname %>
  </div>

  <div class="field">
    <%= f.label :mlastname %>
    <%= f.text_field :mlastname %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
