<!-- PHCMembers Form - Profiles -->
<%= form_with(model: @member_profile, local: true) do |phc_members_member_profile| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/validations', :object => @member_profile %>
	<!-- PHCNotifi Render Validation -->

	<!-- PHCMembers Fields - Profiles -->
	<div class="form-group field_with_errors">
		<%= phc_members_member_profile.label :member_firstname, "First Name*" %>
		<%= phc_members_member_profile.text_field :member_firstname, class: 'form-control', placeholder: 'First Name' %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_profile.label :member_lastname, "Last Name*" %>
		<%= phc_members_member_profile.text_field :member_lastname, class: 'form-control', placeholder: 'Last Name' %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_profile.label :member_title, "Job Title" %>
		<%= phc_members_member_profile.text_field :member_title, class: 'form-control', placeholder: 'Job Title/Salutation' %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_profile.label :member_email, "Contact Email Address*" %>
		<%= phc_members_member_profile.text_field :member_email, class: 'form-control', placeholder: 'Contact Email (Will Remain Private)' %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_profile.label :member_phone, "Contact Phone Number*" %>
		<%= phc_members_member_profile.text_field :member_phone, class: 'form-control masked', placeholder: 'Contact Phone Number (Will Remain Private)', data: {format: '(999) 999-9999', placeholder: 'x'} %>
	</div>
	<br>
	<div class="actions">
		<%= phc_members_member_profile.submit class: "btn btn-primary btn-gradient waves-effect waves-light btn-md" %>
	</div>
	<br>
	<!-- PHCMembers Fields - Profiles -->

<% end %>
<!-- PHCMembers Form - Profiles -->
