<!-- Title Variables -->
<% phc_title "Member Profile Manager" %>
<% phc_title_tagline "Members Main Index" %>
<!-- Title System -->

<!-- Page Title Bar -->
<section class="content-header">

	<!-- Page Title and BreadCrumb -->
	<h1><%= yield(:phc_title) %> <small><%= yield(:phc_title_tagline) %></small></h1>
	<ol class="breadcrumb">
		<li><%= link_to "Dashboard", member_root_path %></li>
		<li class="active"><%= yield(:phc_title_tagline) %></li>
	</ol>
	<!-- Page Title and BreadCrumb -->

</section>
<!-- Page Title Bar -->

<!-- Main Content -->
<section class="content">
	<div class="row">
		<div class="col-lg-12">

			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title"><%= yield(:phc_title) %></h3>
				</div>
				<div class="box-body">
					<table class="table table-striped table-bordered table-advance table-hover">
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Email</th>
								<th>Phone</th>
							</tr>
						</thead>
						<tbody>
							<% @member_profiles.each do |member_profile| %>
								<tr>
									<td class="highlight"><%= link_to member_profile.mfirstname, member_profile %></td>
									<td class="highlight"><%= link_to member_profile.mlastname, member_profile %></td>
									<td class="highlight"><%= link_to member_profile.memail, member_profile %></td>
									<td class="highlight"><%= link_to member_profile.mphone, member_profile %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="box-footer clearfix">
					<%= link_to new_member_profile_path, class: "btn btn-primary" do %>
						<i class="fa fa-plus"></i> Create a New Member
					<% end %>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- Main Content -->
