<!DOCTYPE html>
<html>
<head>
  <title>Phcmembers</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "phcmembers/application", media: "all" %>
  <%= javascript_include_tag "phcmembers/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
