<li class="dropdown user user-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
    <span class="hidden-xs"><%= current_user.firstname %> <%= current_user.lastname %></span>
  </a>
  <ul class="dropdown-menu">

    <li class="user-header">
      <!-- <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
      <p><%= current_user.firstname %> <%= current_user.lastname %></p>
      <p><%= current_user.email %></p>
    </li>

    <li class="user-body">
      <div class="row">
        <div class="col-xs-4 text-center">
          <a href="#"></a>
        </div>
        <div class="col-xs-4 text-center">
          <a href="#"></a>
        </div>
        <div class="col-xs-4 text-center">
          <a href="#"></a>
        </div>
      </div>
    </li>

    <li class="user-footer">
      <div class="pull-left">
        <%= link_to(main_app.edit_user_registration_path, class: "btn btn-primary") do %>
          Edit Profile
        <% end %>
      </div>
      <div class="pull-right">
        <%= link_to(main_app.destroy_user_session_path, method: :delete, class: "btn btn-primary") do %>
          Log Out
        <% end %>
      </div>
    </li>

  </ul>
</li>
