<%= form_for([@members_contact.main, @members_contact], url: members_main_contact_path, method: :patch ) do |f| %>

	<!-- PHC-Notifi Render Validation -->
	<%= render 'layouts/phcnotifi/components/validations', :object => @members_contact %>
	
	<div class="form-group field_with_errors">
		<label><%= f.label :mccontactname, "Contact Name*" %></label>
		<%= f.text_field :mccontactname, class: "form-control", placeholder: "Mailing Contact Name" %>
	</div>
	<div class="form-group field_with_errors">
		<label><%= f.label :mccompanyname, "Company Name" %></label>
		<%= f.text_field :mccompanyname, class: "form-control", placeholder: "Company Name" %>
	</div>
	<div class="form-group field_with_errors">
		<label><%= f.label :mcaddressl1, "Mailing Address Line1" %></label>
		<%= f.text_field :mcaddressl1, class: "form-control", placeholder: "Mailing Street Address" %>
	</div>
	<div class="form-group field_with_errors">
		<label><%= f.label :mcaddressl2, "Mailing Address Line2" %></label>
		<%= f.text_field :mcaddressl2, class: "form-control", placeholder: "Mailing Address POBox" %>
	</div>
	<div class="form-group field_with_errors">
		<label><%= f.label :mccity, "City" %></label>
		<%= f.text_field :mccity, class: "form-control", placeholder: "Mailing City" %>
	</div>
	<div class="form-group field_with_errors">
		<label><%= f.label :mcprovince, "Province or State" %></label>
		<%= f.text_field :mcprovince, class: "form-control", placeholder: "Mailing Province or State" %>
	</div>
	<div class="form-group field_with_errors">
		<label><%= f.label :mccountry, "Country" %></label>
		<%= f.text_field :mccountry, class: "form-control", placeholder: "Mailing Country" %>
	</div>
	<div class="form-group field_with_errors">
		<label><%= f.label :mcpostalcode, "PostalCode" %></label>
		<%= f.text_field :mcpostalcode, class: "form-control", placeholder: "Mailing PostalCode" %>
	</div>
	<div class="form-group field_with_errors">
		<label><%= f.label :mcphone, "Contact Phone" %></label>
		<%= f.text_field :mcphone, class: "form-control", placeholder: "Contact Phone Number" %>
	</div>
	<div class="form-group field_with_errors">
		<label><%= f.label :mcemail, "Contact Email" %></label>
		<%= f.text_field :mcemail, class: "form-control", placeholder: "Contact Email" %>
	</div>
	<div class="actions">
		<%= f.submit "Submit", class: "btn btn-primary" %>
	</div>

<% end %>
