<!-- Bread Crumbs -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Member's Contact Information</h2>
		<ol class="breadcrumb">
			<li><%= link_to "Home", members_root_path %></li>
			<li><%= link_to "Members List", members_mains_path %></li>
			<li><%= link_to "Members Contact", members_main_contacts_path %></li>
			<li class="active">Edit Member's Private Address</li>
		</ol>
	</div>
</div>

<!-- Main Content -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Edit Member's Private Address
			</div>
			<div class="panel-body">
				<%= render 'phcnotifi/notifications' %>
				<%= render 'formpatch' %>
			</div>
		</div>
	</div>
</div>
