<!-- Bread Crumbs -->
<div class="row">
	<div class="col-lg-12">
		<h2>Member's Information</h2>
		<ol class="breadcrumb">
			<li><%= link_to "Home", members_root_path %></li>
			<li><%= link_to "Members List", members_mains_path %></li>
			<li><%= link_to "Members Contact", members_main_contacts_path %></li>
		</ol>
	</div>
</div>

<!-- Main Content -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Member's Contact Index
			</div>
			<div class="panel-body">
				<%= render 'layouts/phcnotifi/components/notifications' %>
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>Full Name</th>
							<th>Company Name</th>
							<th>City</th>
							<th>Province</th>
							<th>Country</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @members_contact.each do |members_contact| %>
							<tr>
								<td><%= members_contact.mccontactname %></td>
								<td><%= members_contact.mccompanyname %></td>
								<td><%= members_contact.mccity %></td>
								<td><%= members_contact.mcprovince %></td>
								<td><%= members_contact.mccountry %></td>
								<td><div class="btn-group" role="group" aria-label="Member Adresses Group">
										<%= link_to 'Show', members_main_contact_path(members_contact.main, members_contact), class: "btn btn-primary" %>
										<%= link_to 'Edit', edit_members_main_contact_path(members_contact.main, members_contact), class: "btn btn-primary" %>
										<%= link_to 'Delete', members_main_contact_path(members_contact.main, members_contact), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
									</div>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%= link_to 'Add a Private Address', new_members_main_contact_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>
