<!-- Title System -->
<% phc_title "PHCMembers - Members Address Manager" %>
<% phc_title_tagline "Detailed Address Information for " + @members_main.mfirstname + " " + @members_main.mlastname %>

<!-- BreadCrumbs -->
<div class="row">
	<div class="col-lg-12">

		<!-- Bread Crumb -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", members_root_path %></li>
			<li><%= link_to "Members List", members_mains_path %></li>
			<li><%= link_to "Members Contacts", members_main_contacts_path %></li>
			<li class="active"><%= yield(:phc_title_tagline) %></li>
		</ol>

	</div>
</div>

<!-- Page Title -->
<div class="row">
	<div class="col-lg-12">

		<h3 class="page-title">
			<%= yield(:phc_title) %> </br>
			<small><%= yield(:phc_title_tagline) %></small>
		</h3>

	</div>
</div>

<!-- Main Content -->
<div class="row">
	<%= render 'phcmemberspro/members/contacts/components/contact_main' %>
</div>
