<div class="row">

	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<%= @member_profile.mfirstname + ' ' + @member_profile.mlastname %> Member Stats
			</div>
			<div class="card-block">
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<%= @member_profile.mfirstname + ' ' + @member_profile.mlastname %> Information Change Log
			</div>
			<div class="card-block">
				<div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
					<ul class="feeds">
						<% @versions.each do |version| %>
							<li>
								<div class="col1">
									<div class="cont">
										<div class="cont-col1">
											<div class="label label-sm label-success">
												<i class="fa fa-bell-o"></i>
											</div>
										</div>
										<div class="cont-col2">
											<div class="desc">
												<strong>EVENT #<%= version.id %></strong> - <i> <%= l(version.created_at, format: "%-d/%m/%Y") %> </i> - <%= version.event.capitalize %> - <%= @member_profile.mfirstname + ' ' + @member_profile.mlastname %> - Information
											</div>
										</div>
									</div>
								</div>
								<div class="col2">
									<div class="date"> <%= l(version.created_at, format: "%H:%M %Z") %> </div>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>
