<!-- Title System -->
<% phc_title "PHCMembers - Business Manager" %>
<% phc_title_tagline "Update Business Information for " + @members_main.mfirstname + " " + @members_main.mlastname %>

<!-- BreadCrumbs -->
<div class="row">
	<div class="col-lg-12">

		<!-- Bread Crumb -->
		<ol class="breadcrumb">
			<li><%= link_to "Home", members_root_path %><i class="fa fa-circle"></i></li>
			<li><%= link_to "Members List", members_mains_path %><i class="fa fa-circle"></i></li>
			<li><%= link_to "Members Businesses", members_main_businesses_path %><i class="fa fa-circle"></i></li>
			<li class="active"><%= yield(:phc_title_tagline) %></li>
		</ol>

	</div>
</div>

<!-- Page Title -->
<div class="row">
	<div class="col-lg-12">

		<h3 class="page-title">
			<%= yield(:phc_title) %> </br>
			<small><%= yield(:phc_title_tagline) %></small>
		</h3>

	</div>
</div>

<!-- Main Content -->
<div class="row">
	<div class="col-lg-12">

		<div class="card">
			<div class="card-header">
				<%= yield(:phc_title_tagline) %>
			</div>
			<div class="card-block">
				<%= render 'formpatch' %>
			</div>
		</div>

	</div>
</div>
