<div class="container">

	<ul class="pull-right nomargin list-inline mobile-block">
		<li><%= link_to "Home", main_app.root_path, class: "nav-link" %></li>
		<li>&bull;</li>
		<li><%= link_to "PHCNetworks", "https://phcnetworks.net", target: "_blank", rel: "nofollow" %></li>
		<li>&bull;</li>
		<li><%= link_to "PHCMembers", "https://phcmembers.com", target: "_blank", rel: "nofollow" %></li>
		<li>&bull;</li>
		<li><%= link_to "PHCPress", "https://phcpress.com", target: "_blank", rel: "nofollow" %></li>
		<li>&bull;</li>
		<li><%= link_to "Privacy & Security", "#", target: "_blank", rel: "nofollow" %></li>
		<li>&bull;</li>
		<li><%= link_to "Terms & Conditions", "#", target: "_blank", rel: "nofollow" %></li>
	</ul>

	<strong>PHC</strong>Members &copy; 2012-<%= Time.now.year %>  - v<%= Gem.loaded_specs["phccontentpack"].version.to_s %> - RELEASED - <%= Date.today.month %>-<%= Date.today.year %>

</div>
