<!-- Bread Crumbs -->
<div class="row">
	<div class="col-lg-12">
		<h2>Directory Listings</h2>
		<ol class="breadcrumb">
			<li><%= link_to "Home", directory_root_path %></li>
			<li><%= link_to "Directory Categories", directory_categories_path %></li>
			<li class="active">Create a Directory Listing for <%= @directory_category.dcname %></li>
		</ol>
	</div>
</div>

<!-- Main Content -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Connect an Existing Listing
			</div>
			<div class="panel-body">
				<%= render 'phcnotifi/notifications' %>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
