<p>
	<strong>Address Line 1:</strong>
	<%= @members_contact.mcaddressl1 %>
</p>

<p>
	<strong>Address Line 2:</strong>
	<%= @members_contact.mcaddressl2 %>
</p>

<p>
	<strong>City:</strong>
	<%= @members_contact.mccity %>
</p>

<p>
	<strong>Province:</strong>
	<%= @members_contact.mcprovince %>
</p>

<p>
	<strong>Country:</strong>
	<%= @members_contact.mccountry %>
</p>

<p>
	<strong>PostalCode:</strong>
	<%= @members_contact.mcpostalcode %>
</p>