<!-- PHCMembers Form - Address -->
<%= form_for([@member_address.profile, @member_address], url: form_url) do |phc_members_member_address| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/validations', :object => @member_address %>
	<!-- PHCNotifi Render Validation -->

	<!-- PHCMembers Fields - Address -->
	<div class="form-group field_with_errors">
		<%= phc_members_member_address.label :mcaddressl1, "Address Line1" %>
		<%= phc_members_member_address.text_field :mcaddressl1, class: "form-control", placeholder: "Address Line 1 - Street Address" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_address.label :mcaddressl2, "Address Line2" %>
		<%= phc_members_member_address.text_field :mcaddressl2, class: "form-control", placeholder: "Address Line 2 - Box - Suite - Floor" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_address.label :mccity, "City" %>
		<%= phc_members_member_address.text_field :mccity, class: "form-control", placeholder: "City" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_address.label :mcprovince, "Province/State" %>
		<%= phc_members_member_address.text_field :mcprovince, class: "form-control", placeholder: "Province/State" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_address.label :mccountry, "Country" %>
		<%= phc_members_member_address.text_field :mccountry, class: "form-control", placeholder: "Country" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_address.label :mcpostalcode, "PostalCode" %>
		<%= phc_members_member_address.text_field :mcpostalcode, class: "form-control", placeholder: "PostalCode" %>
	</div>
	<div class="form-group field_with_errors">
		<%= phc_members_member_address.label :mctype, "Address Type" %>
		<%= phc_members_member_address.select :mctype, [['Billing Address','Billing'],['Street Address','Street'],['Mailing Address','Mailing'],['Home Address','Home'],['Business Address','Business']], {}, class: "form-control" %>
	</div>
	<br>
	<div class="actions">
		<%= phc_members_member_address.submit class: "btn btn-primary btn-gradient waves-effect waves-light btn-md" %>
	</div>
	<br>
	<!-- PHCMembers Fields - Address -->

<% end %>
<!-- PHCMembers Form - Address -->
