<!-- Title Variables -->
<% phc_title "Member Address Manager" %>
<% phc_title_tagline "Detailed Address Information for " + @members_profile_info.mfirstname + " " + @members_profile_info.mlastname %>
<% phc_breadcrumb_one link_to "Dashboard", phcmembers.modules_dashboards_index_path %>
<% phc_breadcrumb_two link_to "Members List", phcmembers.member_profiles_path %>
<% phc_breadcrumb_three yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Title Bar -->
<section class="content-header">
	<!-- Page Title and BreadCrumb -->
	<h1><%= yield(:phc_title) %> <small><%= yield(:phc_title_tagline) %></small></h1>
	<ol class="breadcrumb">
		<li><%= yield(:phc_breadcrumb_one) %></li>
		<li class="active"><%= yield(:phc_breadcrumb_two) %></li>
	</ol>
	<!-- Page Title and BreadCrumb -->
</section>
<!-- Page Title Bar -->

<!-- Main Content -->
<section class="content">
	<div class="row">
		<%= render 'phcmembers/member/addresses/components/address_main' %>
	</div>
</section>
<!-- Main Content -->